<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--用于orm 映射 数据库字段对应java中的字段 user_name 到userName的映射  -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>